@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/montserrat.woff2") format("woff2"),
        url("/fonts/montserrat.woff") format("woff");


    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/playfair.woff2") format("woff2"),
        url("/fonts/playfair.woff") format("woff");
}


body {
    margin: 0;
    padding: 0;

    font-family: "Montserrat", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;

    color: #AE7C78;
    background-color: white;
}

a {
    text-decoration: none;
}

h2,
h3 {
    font-family: "Playfair Display", Arial, serif;
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding-top: 24px;
}

.main-header {
    box-sizing: border-box;

    border-top: 1px solid #AE7C78;
    border-bottom: 1px solid #AE7C78;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.main-navigation {
    position: relative;
}

.main-header-logo {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-48%, -48%);
}

.site-navigation {
    display: flex;
    padding: 6px 0;
    justify-content: space-between;
}

.site-navigation li:first-child {
    margin-right: 17px;
    padding-right: 9px;
}

.site-navigation li:nth-child(4) {
    margin-left: 139px;
}

.about {
    margin: 0;
    margin-left: 120px;
    padding: 0;
    display: flex;
}

.about-heading {
    font-family: "Playfair Display", Arial, serif;
    font-size: 44px;
    line-height: 59px;
    font-weight: 400;
    margin-bottom: 24px;
}

.about-heading span {
    font-style: italic;
}

.about h1 {
    margin-bottom: 24px;
}

.about p {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 95px;
    margin-right: 10px;
}

.about div {
    width: 408px;
    margin-top: 29px;
    margin-bottom: 40px;

}

.about img:first-of-type {
    align-self: flex-end;
    margin-right: 20px;
    margin-top: 114px;
}

.about img:last-of-type {
    margin-top: 56px;
}

.button {
    color: white;
    background: #D89999;
    border-radius: 3em;
}

.button-catalog {
    padding: 30px 70px 30px 70px;
    margin-bottom: 118px;

}

.button-order {
    padding: 30px 105px 30px 105px;
    
}

.main-benefits {
    margin: 0;
    margin-left: 123px;
    padding: 0;
    box-sizing: border-box;
    margin-top: 48px;
    margin-bottom: 80px;
}

.benefit-list {
    display: flex;
}

.benefit {
    width: 360px;
}

.benefit dt {
    font-weight: 500;
    margin-bottom: 10px;
}

.benefit dd {
    margin-left: 0;
    margin-top: 10px;
    line-height: 20px;
}

.benefit-one {
    background: url(/img/delivery.svg) top left no-repeat;
    padding-left: 100px;
    margin-right: -46px;
    width: 380px;
}

.benefit-two {
    background: url(/img/bouquet.svg) top left no-repeat;
    padding-left: 72px;
    margin-right: -32px;
}

.benefit-three {
    background: url(/img/photo.svg) top left no-repeat;
    padding-left: 80px;
    margin-right: px;
}


.slider-item-one div {
    margin-top: 40px;
    margin-bottom: 40px;
}

.slider-item-one h3,
.price {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

.site-navigation,
.footer-site-navigation,
.four-steps,
.news-socials,
.footer-socials {
    list-style: none;
}

.site-navigation a,
.footer-site-navigation a,
.contacts a {
    color: #AE7C78;
}

.catalog-section a {
    font-family: "Playfair Display", Arial, serif;
    font-size: 36px;
    line-height: 48px;
    font-weight: 700;
    color: white;
    text-align: center;


}

.catalog-section {
    width: 388px;
    height: 442px;

    background: #AE7C78;
}

.catalog-section p {
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}

.catalog-section-one {
    background: url(/img/wedding-bouquet.jpg) no-repeat;
}

.catalog-section-two {
    background: url(/img/pion-bouquet.jpg) no-repeat;
}

.catalog-section-three {
    background: url(/img/choice-bouquet.jpg) no-repeat;
}

.catalog-photo {
    width: 388px;
    height: 442px;

    background: rgba(174, 124, 120, 0.6);
    border-radius: 3%;
}

.catalog-photo h3 {
    padding-top: 183px;
}

.discount {
    background: #AE7C78;
    color: white;
}

.steps h3 {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.contacts {
    padding: 52px 832px 72px 222px;

    background: url(/img/map.jpg) no-repeat;
}

.contacts div {
    width: 386px;
    height: 520px;

    background: white;
    border-radius: 3%;
}

.contacts h3 {
    font-size: 16px;
    font-weight: 400;
}

.contacts p {
    font-weight: 500;
}

.main-footer {
    background: #AE7C78;

}

.main-footer a {
    color: white;
}